<div><h1 style="text-align: center">Trang chỉnh sửa</h1></div>
<button type="submit" class=" justify-content-end btn btn-outline-success" style="margin-left: 1200px "
        routerLink="/list">Back
</button>
<form class="container" [formGroup]="banhAnForm" (ngSubmit)="chinhSua()">
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Mã bệnh án: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="maBenhAn" disabled>
    </div>
  </div>
  <div class="m-4 row">
    <div class="col-sm-2">Mã bệnh nhân</div>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="maBenhNhan" disabled>
    </div>
<!--    <div class="col-sm-10">-->
      <!--      <select class="form-select" formControlName="benhNhan" [compareWith]="compareWith" disabled>-->
      <!--        <option *ngFor="let benhNhan of danhSachBenhNhan" [ngValue]="benhNhan">{{benhNhan.maBenhNhan}}</option>-->
      <!--      </select>-->
<!--    </div>-->
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Tên bệnh nhân: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="tenBenhnhan">
      <p class="text-danger"
         *ngIf="banhAnForm.controls.tenBenhnhan.hasError('required')&&banhAnForm.controls.tenBenhnhan.touched ">Không
        được để trống</p>
      <p class="text-danger"
         *ngIf="banhAnForm.controls.tenBenhnhan.hasError('pattern')&&banhAnForm.controls.tenBenhnhan.touched">Tên bệnh
        nhân là các kí tụ
        không chứ số</p>
      ​
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Ngày nhập viện: </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" formControlName="ngaynhapVien">
      <p class="text-danger"
         *ngIf="banhAnForm.controls.ngaynhapVien.hasError('required')&&banhAnForm.controls.ngaynhapVien.touched ">Không
        được để trống</p>
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Ngày ra viện: </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" formControlName="ngayRaVien">
      <p class="text-danger"
         *ngIf="banhAnForm.controls.ngayRaVien.hasError('required')&&banhAnForm.controls.ngayRaVien.touched ">Không
        được để trống</p>
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Lý do nhập viện: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="lyDoNhapVien">
      <p class="text-danger"
         *ngIf="banhAnForm.controls.lyDoNhapVien.hasError('required')&&banhAnForm.controls.lyDoNhapVien.touched ">Không
        được để trống</p>
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Phương pháp điều trị: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="phuongPhapDieuTri">
      <p class="text-danger"
         *ngIf="banhAnForm.controls.phuongPhapDieuTri.hasError('required')&&banhAnForm.controls.phuongPhapDieuTri.touched ">
        Không
        được để trống</p>
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Bác sĩ điều trị: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="bacSiDieuTri">
      <p class="text-danger"
         *ngIf="banhAnForm.controls.bacSiDieuTri.hasError('required')&&banhAnForm.controls.bacSiDieuTri.touched ">Không
        được để trống</p>
    </div>
  </div>
  <button type="submit" class="d-flex justify-content-center btn btn-outline-success" style="margin: 0 auto 10px">Lưu
    thông tin
  </button>
  ​
</form>
