<h1 class="text-center">Danh sách bệnh án</h1>
<div class="row">
  <div class="col-lg-8">
    <button class="btn btn-primary ms-2 mb-1" routerLink="/create">Thêm mới bệnh án</button>
  </div>
  <div class="d-flex col-lg-4 mb-1">
    <input class="form-control me-2 justify-content-between" type="text" placeholder="Nhập tên bệnh nh"
           aria-label="Search" style="width: 150px">
    <select name="customer-type" class="me-1">
      <option value="">Chọn đi</option>
      <option></option>
    </select>
    <button class="btn btn-success btn-outline-warning" type="submit">Tìm Kiếm</button>
  </div>
</div>


<table class="table table-info">
  <thead>
  <tr>
    <td>STT</td>
    <td>Mã Bệnh Án</td>
    <td>Mã Bệnh Nhân</td>
    <td>Tên Bệnh Nhân</td>
    <td>Ngày Nhập Viện</td>
    <td>Ngày Ra viện</td>
    <td>Lý Do Nhập Viện</td>
    <td>Phương Pháp Điều Trị</td>
    <td>Bác Sĩ Điều Trị</td>
    <td>Chỉnh Sửa</td>
    <td>Xóa</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicalRecord of medicalRecordList; index as i">
    <td>{{i}}</td>
    <td>{{medicalRecord.code}}</td>
    <td>{{medicalRecord.patient.code}}</td>
    <td>{{medicalRecord.patient.name}}</td>
    <td>{{medicalRecord.startDay}}</td>
    <td>{{medicalRecord.endDay}}</td>
    <td>{{medicalRecord.reason}}</td>
    <td>{{medicalRecord.treatmentOption}}</td>
    <td>{{medicalRecord.doctor}}</td>
    <td>
      <button class="btn btn-primary" [routerLink]="['/edit', medicalRecord.id]">Chỉnh sửa</button>
    </td>
    <td>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="temp = medicalRecord">Xóa
      </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal delete pagi-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa bệnh án có mã: <label style="color: red">{{temp.code}}</label> không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button data-bs-dismiss="modal" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                (click)="delete()">Xóa
        </button>
      </div>
    </div>
  </div>
</div>
